<h1>Editing Book</h1>

<!--バリデーションチェック-->
<%= form_with model: @book do |form| %>
  <% if @book.errors.any? %>
    <div class="error_explanation">
        <h4><%= pluralize(@book.errors.count, "error") %> prohibited this form being saved:</h4>
        <ul>
            <% @book.errors.full_messages.each do |message| %>  <!--"・Title/Body can't be blank"がエラーの分表示される-->
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
<% end %>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <h5>Title</h5>
  <%= f.text_field :title %>

  <h5>Body</h5>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>
<% end %>

<div class="link">
  <%= link_to "Show", book_path(@book.id) %>
  <%= " | " %>
  <%= link_to "Back", books_path %>
</div>